
############################################################
## Edit this file
############################################################
alias exports="e $DOTFILES_EXPORTS_PATH/.exports"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# -- OS VARIABLES - Paths
export SPACE="$HOME/Documentos/space"
export SVNPATH="$SPACE/svn"
export SVNQAPATH="$SPACE/svn-qa"
export TCLPATH="$SPACE/templatecache-local"
export GITPATH="$SPACE/git"
##export NGINX_DIR="/etc/nginx"

export PATH=$PATH:$HOME/.npm_global_modules/bin:$HOME/.npm-global/bin

