
############################################################
## Edit this file
############################################################
alias exports="e $DOTFILES_EXPORTS_PATH/.exports"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# -- OS VARIABLES - Paths
export PG="$HOME/Playground"
export SVNPATH="$PG/svn"
export SVNQAPATH="$PG/svn-qa"
export TCLPATH="$PG/templatecache-local"
export GITPATH="$PG/git"
export NGINX_DIR="/etc/nginx"

export PATH=$PATH:~/.npm_global_modules/bin