
############################################################
## Edit this file
############################################################
alias exports="e $DOTFILES_EXPORTS_PATH/.exports"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# -- OS VARIABLES - Paths
export SVNPATH="$HOME/start/svn"
export SVNQAPATH="$HOME/start/svn-qa"
export TCLPATH="$HOME/start/templatecache-local"
export GITPATH="$HOME/start/git"
export START="$HOME/start/"
export PG_PATH="$HOME/start/git/projeto-grafico-v2/"

export PATH="/usr/local/bin/node:/usr/local/bin/npm:$HOME/node/bin:$PATH"
##npm config set prefix=$HOME/node